:root {
    --fontColor: rgb(82, 124, 141);
    --containerBackground: aliceblue;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 6/2;
    border-radius: 1cqi;
    background-color: var(--containerBackground);
    padding: 2rem;
    box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,0.08);
    font-family: system-ui, sans-serif;
    color: var(--fontColor);
}

.animated-background {
    animation: animated-background scroll infinite;
}

@keyframes animated-background {
    from {

    } to {
        
    }
}