:root {
    --font-color: rgb(82, 124, 141);
    --container-background-color: aliceblue;
    --animated-background-svg-color: cadetblue;
    --foreground-animated-svg-size: 3cqw;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 6/2;
    border-radius: 1cqi;
    background-color: var(--container-background-color);
    padding: 2rem;
    box-shadow: 0 .2rem .2rem 0 rgba(0, 0, 0, 0.08);
    font-family: system-ui, sans-serif;
    color: var(--font-color);
}

.animated-background {
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animated-background svg {
    fill: var(--animated-background-svg-color);
    opacity: .15;
    position: absolute;
    animation: animate-background 5s linear infinite;
}

/* foreground svgs in the animated background */
.foreground svg {
    opacity: .5;
    bottom: 0;
    left: calc(var(--foreground-animated-svg-size)*-1);
    width: var(--foreground-animated-svg-size);
    height: var(--foreground-animated-svg-size);
    animation-duration: 2s;
}

/* the second torii gate */
.foreground svg:nth-child(2) {
    --custom-size: calc(var(--foreground-animated-svg-size)*0.7);

    animation-delay: .7s;
    left: calc(var(--custom-size)*-1);
    width: var(--custom-size);
    height: var(--custom-size);
}

/* the first tree */
.foreground svg:nth-child(3) {
    --custom-size: calc(var(--foreground-animated-svg-size)*.8);

    animation-delay: 1.2s;
    left: calc(var(--custom-size)*-1);
    width: var(--custom-size);
    height: var(--custom-size);
}

/* the second tree */
.foreground svg:nth-child(4) {
    --custom-size: calc(var(--foreground-animated-svg-size)*.9);

    animation-delay: .5s;
    left: calc(var(--custom-size)*-1);
    width: var(--custom-size);
    height: var(--custom-size);
}

/* the third tree */
.foreground svg:nth-child(5) {
    --custom-size: calc(var(--foreground-animated-svg-size)*1.1);

    animation-delay: 1.25s;
    left: calc(var(--custom-size)*-1);
    width: var(--custom-size);
    height: var(--custom-size);
}

/* the fourth tree */
.foreground svg:nth-child(6) {
    --custom-size: calc(var(--foreground-animated-svg-size)*.9);

    animation-delay: 1.29s;
    left: calc(var(--custom-size)*-1);
    width: var(--custom-size);
    height: var(--custom-size);
}

/* the fourth tree */
.foreground svg:nth-child(7) {
    --custom-size: calc(var(--foreground-animated-svg-size)*1.1);

    animation-delay: .45s;
    left: calc(var(--custom-size)*-1);
    width: var(--custom-size);
    height: var(--custom-size);
}

.animated-background .middleground {
    --middleground-animated-svg-size: 8cqw;

    opacity: .6;
    bottom: 0;
    left: calc(var(--middleground-animated-svg-size)*-1);
    width: var(--middleground-animated-svg-size);
    height: var(--middleground-animated-svg-size);
    animation-duration: 3s;
}

.animated-background .background {
    --background-animated-svg-size: 8cqw;

    opacity: .6;
    bottom: 0;
    left: calc(var(--background-animated-svg-size)*-1);
    width: var(--background-animated-svg-size);
    height: var(--background-animated-svg-size);
    animation-duration: 3s;
}

@keyframes animate-background {
    from {
        transform: translateX(100cqw);
    }
}